<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pushkarJhipster">
            <h2><span>Pushkar Jhipster</span> {{pushkarJhipster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{pushkarJhipster.name}}</span>
                </dd>
                <dt><span>Address Line 1</span></dt>
                <dd>
                    <span>{{pushkarJhipster.addressLine1}}</span>
                </dd>
                <dt><span>Address Line 2</span></dt>
                <dd>
                    <span>{{pushkarJhipster.addressLine2}}</span>
                </dd>
                <dt><span>Address Line 3</span></dt>
                <dd>
                    <span>{{pushkarJhipster.addressLine3}}</span>
                </dd>
                <dt><span>Pin Code</span></dt>
                <dd>
                    <span>{{pushkarJhipster.pinCode}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{pushkarJhipster.email}}</span>
                </dd>
                <dt><span>Mobile Number</span></dt>
                <dd>
                    <span>{{pushkarJhipster.mobileNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pushkar-jhipster', pushkarJhipster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
